/areej.cpp
/areej.h
/areej.o
/book.cpp
/book.h
/book.o
/constanttt.cpp
/constanttt.h
/constanttt.o
/constant_var.cpp
/constant_var.o
/costant_var.h
/file
/inheritance.o
/inheritance1.cpp
/inheritance1.h
/inheritance1.o
/jojojo.cpp
/jojojo.exe
/main.cpp
/main.o
/main1.cpp
/main2.cpp
/main2.o
/main3.cpp
/main3.o
/main4.cpp
/main4.o
/main5.cpp
/main5.o
/main6.cpp
/main6.o
/Makefile.win
/mutable.cpp
/mutable.exe
/objargument.cpp
/objargument.o
/practiceTasksB17.dev
/practiceTasksB17.layout
/Project10.dev
/Project10.exe
/Project10.layout
/Project12.dev
/Project12.exe
/Project12.layout
/Project13.dev
/Project13.exe
/Project13.layout
/Project9.dev
/Project9.exe
/Project9.layout